name: Deploy React Project to CloudFront

on:
  push:
    branches:
      - main

jobs:
  test:
  runs-on: ubuntu-latest
  container:
    image: node:22
  stages:
    - uses: actions/checkout@v3
      with:
        node-version: 22
    - run: npm run build
